<%- include('partials/_header') %>


<body>
    <a href="inventario" class="btn btn-info ms-4">Inventario</a>
    <a href="usuario" class="btn btn-info">Usuario</a>
</body>


<%- include('partials/_footer') %>